.header {
  max-width: 1280px;
  margin: 28px auto 0;
  background-color: $backgroundColor;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 60px;
    height: 60px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .navigation {
    border: 1px solid $textColor;
    margin-left: 75px;
    margin-bottom: 5px;

    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 20px;

        &:last-child {
          //margin-right: 58px;
        }
      }
    }
  }

  .links {
    img {
      width: 30px;
      height: 30px;
    }
  }

  .phone {
    display: flex;
    flex-direction: column;
  }
}