// USER VARIABLES SECTION
$accentColor: #F50E30; // Accent Color
$hoverColor: #F4F6F8; // Hover Color
$textColor: #000000; // Text Color
$backgroundColor: #FFFFFF; // Background Color
$popupHeaderColor: #242628; // Popup Header Color
$popupTextColor: #D9D9D9; // Popup Text Color
$popupBorderColor: #C1C1C1; // Popup Border Color

$fontSize: 16px; // Body Font Size
$lineHeight: 1.65; // Document Line Height
$userFont: inter, sans-serif; // User Font Family

// Bootstrap compatible gutter variable => $gutter
$gridGutterWidth: 30px;
$gutter: $gridGutterWidth;

// IMPORT SECTION
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
@import 'node_modules/bootstrap/scss/_utilities.scss'; // Optional Bootstrap Utilities

// FONTS LOAD SECTION
@mixin font($fontName, $fontStyle, $fontWeight, $fontUrl) {
  @font-face {
    font-family: $fontName;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    src: url($fontUrl) format('woff2');
  }
}

@include font('inter', normal, 400, '../fonts/inter-regular.woff2');
@include font('inter', italic, 400, '../fonts/inter-italic.woff2');
@include font('inter', normal, 500, '../fonts/inter-medium.woff2');
@include font('inter', italic, 500, '../fonts/inter-mediumitalic.woff2');
@include font('inter', normal, 600, '../fonts/inter-semibold.woff2');
@include font('inter', italic, 600, '../fonts/inter-semibolditalic.woff2');
@include font('inter', normal, 700, '../fonts/inter-bold.woff2');
@include font('inter', italic, 700, '../fonts/inter-bolditalic.woff2');
@include font('inter', normal, 800, '../fonts/inter-extrabold.woff2');
@include font('inter', italic, 800, '../fonts/inter-extrabolditalic.woff2');
@include font('inter', normal, 900, '../fonts/inter-black.woff2');
@include font('inter', italic, 900, '../fonts/inter-blackitalic.woff2');

// GENERAL CSS SETTINGS SECTION
::placeholder {
  color: $popupTextColor;
}

::selection {
  background-color: $accentColor;
  color: #fff;
}

input, textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

body {
  font-family: $userFont;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
  }
}
