<div class="logo">
    <a href="/">
        <img src="images/dist/logo.svg" alt="logo">
    </a>
</div>

<nav class="navigation">
    <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Как купить</a></li>
        <li><a href="#">Преимущества</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</nav>

<div class="links">
    <a href="#">
        <img src="images/dist/icons/icon-telegram.svg" alt="telegram">
    </a>
    <a href="#">
        <img src="images/dist/icons/icon-whatsapp.svg" alt="whatsapp">
    </a>
    <a href="#">
        <img src="images/dist/icons/icon-youtube.svg" alt="youtube">
    </a>
</div>

<div class="phone">
    <a href="tel:+78352675252">+7 (8352) 67-52-52</a>
    <a href="tel:+79279971242">+7 (927) 997-12-42</a>
</div>