<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/head.html" -->

<div class="container">
    <header class="header">
        <!--#include virtual="/parts/header.html" -->
    </header>
</div>

<!--#include virtual="/parts/footer.html" -->
